.caab-logo{
    width: 100px;
}

.top-header{
    color: #010247;
}

.langues{
    padding: 5px;
}
.fa-brand{
    list-style: none;
    margin: 0;
    padding: 4px;
}
.fa-brands{
    padding: 4px;
    font-size: 24px;
    
}
.langues-sec{
    padding-left: 30px;
}
.hrader-title{
    color: #010247;
    font-size: 26px;
    margin-bottom: 0px;
    margin-left: 40px;
    text-transform: uppercase;
}

.main-header-top{
    background-color: #f2f2f2;
    justify-content: space-between;

}
.search-ber{
    height: 2rem;
    margin-left: 120px;
    position: relative; 
}
.search-form{
    width: 300px;
    align-items: stretch;
}
.input-group{
    align-items: stretch;  
}
.btn-search{
    margin-left: 0;
    border: 1px solid #e8edf1;
    border-radius: 5px;
}


@media only screen and (max-width: 1366px){
    .top-header {
        height: 40px;
    }
}
